button {
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  background-color: #ff6e30;
  color: white;
  font-weight: 600;
  letter-spacing: 0.3px;
  cursor: pointer;
}

.header-btn {
  background-color: #1e252b;
  color: white;
}
