.s2-card {
    padding: 30px;
  .s2-card-title {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    p {
      color: #ffa537;
    }
  }
  .primary-text {
    margin-bottom: 20px;
  }
  .s2-visit {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
